<ul id="projects">
<h1><%= pluralize(@projects.length, "project") %></h1>

<% @projects.each do |project| %>
  <article class="project">
    <header>
      <%= image_for_index(project) %>
      <h2><%= link_to project.name, project %></h2>
    </header>
    <p>
      <%= truncate(project.description, length: 30, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Target amount:</th>
        <td><%= number_to_currency(project.target_pledge_amount, :unit => "EUR ") %></td>
      </tr>
      <tr>
        <th>Website:</th>
        <td><%= project.website %></td>
      </tr>
      <tr>
        <th>Pledging ends on:</th>
        <td><%= project.pledging_ends_on %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= pledging_ends_format(project) %></td>
      </tr>
      <tr>
        <th>Team members:</th>
        <td><%= truncate(project.team_members, length: 10, separator: ' ') %></td>
      </tr>
    </table>
  </article>
<% end %>
